button{
	margin: 5px;
	padding: 5px;
	background: linear-gradient(red,darkred,red);
	color: greenyellow;
	font-weight: bold;
}

.christmaspanel{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 50%;
	padding: 10px;
	border: 4px dotted red;
	background-color: white;
	text-align: center;
	color: red;
	font-weight: bold;
	max-width: 400px;
}

.buttonbar{
	padding-top: 10px;
}

body{
	font-family: 'Courier New', Courier, monospace;
	background-color: darkgreen;
}

canvas{
	border: 3px solid lawngreen;
}